body {
    /*  background: bg-color bg-image position/bg-size bg-repeat bg-origin bg-clip bg-attachment */

    background: url(../../../images/fire.png) center 30%/18% no-repeat fixed, url(../../../images/pattern.png),
        url(../../../images/blossom.jpg) center center/cover no-repeat fixed;

    font-family: Tahoma, sans-serif;
    font-size: 16px;
    color: #ccc;
}

h1 {
    background: #333333;
    text-align: center;
}
